---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ArrowLeft from '../icons/ArrowLeft.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => {
        return {
            params: { slug: page.slug },
            props: { page }
        };
    });
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seoTitle, image, description, backlink, canonical, schema } = page.data;
const { Content } = await page.render();
---

<BaseLayout title={title} seoTitle={seoTitle} description={description} canonical={canonical} schema={schema}>
    <article class="mb-16" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="description" content={description} />
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" class="sr-only">
            <span itemprop="name">Hypnosetherapie Bern – Janine Aerni</span>
            <link itemprop="url" href="https://bern-hypnose.ch" />
        </div>
        <div itemprop="author" itemscope itemtype="https://schema.org/Person" class="sr-only">
            <span itemprop="name">Janine Aerni</span>
            <link itemprop="url" href="https://bern-hypnose.ch/janine-aerni/" />
        </div>
        <header class="mb-8 relative">
            {
                backlink && (
                    <a class="flex items-center absolute text-red-500 hover:text-red-700 -mt-8 text-sm font-bold" href={backlink.url}>
                        <ArrowLeft class="w-4 h-4 fill-current" />
                        <span>{backlink.title}</span>
                    </a>
                )
            }
            <h1 class="text-balance mb-8" itemprop="headline">{title}</h1>
            {
                image && (
                    <Image
                        width={1024}
                        src={image.src}
                        class="w-full rounded-xl shadow-lg"
                        alt={image.alt ?? ''}
                        widths={[360, 520, 1024]}
                        sizes="(max-width: 768px) calc(100vw - 40px), 1024px"
                        itemprop="image"
                    />
                )
            }
        </header>
        <div class="max-w-none prose prose-dante sm:prose-lg" itemprop="articleBody">
            <Content />
        </div>
    </article>
</BaseLayout>
