---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ArrowLeft from '../icons/ArrowLeft.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => {
        return {
            params: { slug: page.slug },
            props: { page }
        };
    });
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, image, description, backlink, canonical } = page.data;
const { Content } = await page.render();
---

<BaseLayout title={title} description={description} canonical={canonical}>
    <article class="mb-16">
        <header class="mb-8 relative">
            {
                backlink && (
                    <a class="flex items-center absolute text-red-500 hover:text-red-700 -mt-8 text-sm font-bold" href={backlink.url}>
                        <ArrowLeft class="w-4 h-4 fill-current" />
                        <span>{backlink.title}</span>
                    </a>
                )
            }
            <h1 class="text-balance mb-8">{title}</h1>
            {
                image && (
                    <Image
                        width={1024}
                        src={image.src}
                        class="w-full rounded-xl shadow-lg"
                        alt={image.alt ?? ''}
                        widths={[360, 520, 1024]}
                        sizes="(max-width: 768px) calc(100vw - 40px), 1024px"
                    />
                )
            }
        </header>
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <Content />
        </div>
    </article>
</BaseLayout>
