---
import siteConfig from '../data/site-config';
import '../styles/global.css';

export type Props = {
    title?: string;
    description?: string;
    image?: { src: string; alt?: string };
    pageType?: 'website' | 'article';
};

const { description = '', image = siteConfig.image, pageType = 'website' } = Astro.props;
const title = [Astro.props.title, siteConfig.title].filter(Boolean).join(' | ');
const resolvedImage = image?.src
    ? {
          src: new URL(image.src, Astro.site).toString(),
          alt: image.alt
      }
    : undefined;
const canonicalURL = new URL(Astro.request.url, Astro.site);

/**
 * Enforce some standard canonical URL formatting across the site.
 */
function formatCanonicalURL(url: string | URL) {
    const path = url.toString();
    const hasQueryParams = path.includes('?');
    // If there are query params, make sure the URL has no trailing slash
    if (hasQueryParams) {
        path.replace(/\/?$/, '');
    }
    // otherwise, canonical URL always has a trailing slash
    return path.replace(/\/?$/, hasQueryParams ? '' : '/');
}
---

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Hypnose und Hypnosetherapie in Bern – Janine Aerni",
        "image": "https://bern-hypnose.ch/janine-aerni-face-600w.webp",
        "logo": "janine-aerni-face-112w.avif",
        "description": "Hypnose und Hypnosetherapie in Bern – Janine Aerni. In meiner Praxis biete ich Hypnosetherapie an, um Stress, Ängste, Phobien und mehr zu überwinden. Entdecken Sie, wie Hypnose Ihnen helfen kann, ein gesünderes und ausgeglicheneres Leben zu führen. ",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Eigerstrasse 56",
            "addressLocality": "Bern",
            "postalCode": "3007",
            "addressCountry": "CH"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "46.9400119148607",
            "longitude": "7.436508173013693"
        },
        "telephone": "+41 79 833 83 05",
        "email": "contact@bern-hypnose.ch",
        "url": "https://bern-hypnose.ch",
        "priceRange": "120 CHF - 150 CHF",
        "openingHours": "Mo,Tu,We,Th,Fr 07:00-19:00",
        "sameAs": ["https://www.facebook.com/profile.php?id=61564940341284", "https://www.instagram.com/janineaerni/"],
        "founder": {
            "@type": "Person",
            "name": "Janine Aerni",
            "jobTitle": "Zertifizierte Hypnosetherapeutin",
            "telephone": "+41 79 833 83 05",
            "email": "janine@bern-hypnose.ch"
        },
        "areaServed": {
            "@type": "Place",
            "name": "Bern, Switzerland"
        },
        "services": [
            {
                "@type": "Service",
                "name": "Hypnose gegen Rauchen oder Süchte",
                "description": "Hypnosesitzungen, die darauf abzielen, Rauchgewohnheiten oder andere Süchte zu überwinden."
            },
            {
                "@type": "Service",
                "name": "Hypnose für eine gesunde Ernährung",
                "description": "Hypnosesitzungen zur Unterstützung einer gesunden Ernährungsweise und zur Förderung eines bewussten Essverhaltens."
            },
            {
                "@type": "Service",
                "name": "Ängste und Phobien mit Hypnose überwinden",
                "description": "Maßgeschneiderte Hypnosesitzungen, um Klienten bei der Überwindung von Ängsten und Phobien zu helfen."
            },
            {
                "@type": "Service",
                "name": "Hypnose gegen Stress, Burnout und Depression",
                "description": "Hypnosesitzungen zur Stressbewältigung und zur Linderung von Burnout-Symptomen und Depressionen."
            },
            {
                "@type": "Service",
                "name": "Selbstvertrauen mit Hypnose stärken",
                "description": "Hypnosesitzungen zur Stärkung des Selbstvertrauens und zur Förderung eines positiven Selbstbildes."
            },
            {
                "@type": "Service",
                "name": "Schlafstörungen mit Hypnose behandeln",
                "description": "Hypnosesitzungen, die darauf abzielen, Schlafstörungen zu lindern und gesunden Schlaf zu fördern."
            }
        ],
        "review": {
            "@type": "Review",
            "author": {
                "@type": "Person",
                "name": "Paula Bozic"
            },
            "reviewBody": "Ich war wegen Durchschlafproblemen bei Janine. Seit der Hypnosetherapie bei Janine schlafe ich viel besser.",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5"
            },
            "url": "https://maps.app.goo.gl/dVE5uGwXezAQ2TyV8",
            "itemReviewed": {
                "@type": "LocalBusiness",
                "name": "Hypnose und Hypnosetherapie in Bern – Janine Aerni",
                "image": "https://bern-hypnose.ch/janine-aerni-face-600w.webp",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Eigerstrasse 56",
                    "addressLocality": "Bern",
                    "postalCode": "3007",
                    "addressCountry": "CH"
                },
                "telephone": "+41 79 833 83 05",
                "url": "https://bern-hypnose.ch",
                "priceRange": "120 CHF - 150 CHF"
            }
        },
        "hasMap": "https://maps.app.goo.gl/6ztgohYSpsWiT9CB8",
        "paymentAccepted": "Cash, TWINT"
    }
</script>

<!-- High Priority Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="generator" content={Astro.generator} />

<!-- Low Priority Global Metadata -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

<!-- Page Metadata -->
<link rel="canonical" href={formatCanonicalURL(canonicalURL)} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={pageType} />
<meta property="og:url" content={formatCanonicalURL(canonicalURL)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{resolvedImage?.src ? <meta property="og:image" content={resolvedImage.src} /> : <meta property="og:image" content="https://bern-hypnose.ch/hypnose1.avif" />}
{resolvedImage?.alt ? <meta property="og:image:alt" content={resolvedImage.alt} /> : <meta property="og:image:alt" content="Default alt text here" />}
<meta property="og:logo" content="https://bern-hypnose.ch/logo-janine-aerni.avif" />

<!-- X/Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={formatCanonicalURL(canonicalURL)} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{resolvedImage?.src && <meta property="twitter:image" content={resolvedImage.src} />}
{resolvedImage?.alt && <meta name="twitter:image:alt" content={resolvedImage?.alt} />}
