---
import { marked } from 'marked';
import { Image } from 'astro:assets';
import siteConfig from '../data/site-config';
import JanineFace from '@assets/images/bern-hypnose-janine-aerni.jpg';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.subtitle || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <header class="w-full justify-self-center justify-center flex flex-col gap-8 mb-20">
            <h1 class="text-balance text-5xl xs:text-6xl md:text-7xl sm:leading-tight hyphens-auto text-red-500">{hero.title}</h1>
            <div class="flex gap-4 md:gap-6 items-center">
                <Image
                    width={112}
                    src={JanineFace}
                    class="w-32 h-32 object-cover object-center rounded-full shadow-lg"
                    alt="Janine Aerni"
                    widths={[112, 224, 800]}
                    sizes="112px"
                />

                <p class="font-bold text-main text-balance">
                    {hero.subtitle} <br />
                    {hero.name}
                </p>
            </div>
            {hero.text && <div class="max-w-none prose prose-dante sm:prose-lg text-pretty " set:html={marked.parse(hero.text)} />}
            {hero.actions && hero.actions.length > 0 && (
                <div class="flex flex-wrap gap-4">
                    <a
                        data-umami-event="Home – Button Kontakt"
                        href="/kontakt/"
                        class="inline-flex no-prose items-center justify-center px-6 py-3 text-base leading-tight font-bold text-white bg-red-600 border border-red-600 rounded-full transition hover:bg-red-500 hover:text-red-50 no-underline"
                        onclick="document.app.emitEvent('mouseDown', 'trigger-to-3');"
                    >
                        Kontakt & Termin
                    </a>
                    <a
                        data-umami-event="Home – Button Hypnosetherapie"
                        href="/hypnosetherapie/"
                        class="inline-flex items-center justify-center px-6 py-3 text-base leading-tight font-bold text-red-600 bg-transparent border border-red-600 rounded-full transition hover:bg-red-500 hover:text-red-50"
                        onclick="document.app.emitEvent('mouseDown', 'trigger-to-2');"
                    >
                        Was ist Hypnose?
                    </a>
                </div>
            )}
        </header>
    )
}
