---
import { marked } from 'marked';
import NavLink from './NavLink.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.subtitle || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <header class="w-full justify-self-center justify-center flex flex-col gap-8 mb-16">
            <h1 class="text-balance text-5xl sm:text-6xl md:text-7xl sm:leading-tight hyphens-auto text-red-500">{hero.title}</h1>
            <p class="text-lg font-bold text-main">{hero.subtitle}</p>

            {hero.image?.src && (
                <figure>
                    <img class="w-full" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
                    {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
                </figure>
            )}
            {hero.text && <div class="max-w-none prose prose-dante sm:prose-lg" set:html={marked.parse(hero.text)} />}
            {hero.actions && hero.actions.length > 0 && (
                <div class="flex flex-wrap gap-4">
                    <a
                        data-umami-event="Home – Button Kontakt"
                        href="/kontakt"
                        class="inline-flex no-prose items-center justify-center px-6 py-3 text-base leading-tight font-bold text-red-50 bg-red-500 border border-red-600 rounded-full transition hover:bg-red-600 hover:text-red-50 no-underline"
                        onclick="document.app.emitEvent('mouseDown', 'trigger-to-3');"
                    >
                        Kontakt & Termin
                    </a>
                    <a
                        data-umami-event="Home – Button Hypnosetherapie"
                        href="/hypnosetherapie"
                        class="inline-flex items-center justify-center px-6 py-3 text-base leading-tight font-bold text-red-600 bg-transparent border border-red-600 rounded-full transition hover:bg-red-600 hover:text-red-50"
                        onclick="document.app.emitEvent('mouseDown', 'trigger-to-2');"
                    >
                        Was ist Hypnose?
                    </a>
                </div>
            )}
        </header>
    )
}
